*{
  padding: 0;
  margin: 0;
}
nav{
  width: 100%;
  background-color: #3CB371;
  text-align: center;
}
nav ul li{
  display: inline-block;
}
a{
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: 'coiny', cursive;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: #90EE90;
}
.eje{
  border-bottom: solid white 4px;
  background-color: #90EE90;
}
.ma{
  position: absolute;
  width: 150px;
  height: 200px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #F08080;
  transition-duration: 1s;
}
.ma:hover{
  width: 200px;
  height: 250px;
  background-color: #6A5ACD;
}
.eje1{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 150px;
  height: 180px;
  margin: auto;
  background-color: #DC143C;
  transition-duration: 1s;
  transition-property: width,height,background-color,border;
  transition-delay: 0s,1s,1s,2s;
}
.eje1:hover{
  width: 200px;
  height: 230px;
  background-color: #FFD700;
  border: solid #00008B 5px;
}
.eje2{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  width: 120px;
  height: 150px;
  background-color: green;
  transition-duration: 1s;
  transition-property: width,height,background-color;
  transition-delay: 0s,0s,1s;
}
.eje2>article{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  width: 80px;
  height:80px;
  background-color: blue;
  transition-duration: 1s;
  transition-property: width,height,background-color,border-radius;
  transition-delay: 1s,1s,2s,3s;
}
.eje2:hover{
  width: 180px;
  height: 200px;
  background-color: #F08080;
}
.eje2:hover>article{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFFFF0;
}
.eje4{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #3CB371;
  width: 200px;
  height: 230px;
  transition-duration: 1s;
  transition-property: width,height,background-color;
  transition-delay: 0s,1s,2s;
}
.eje4>article:nth-child(1){
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #800000;
  transition-duration: 1s;
  transition-property: left,border-radius,background-color;
  transition-delay: 3s,4s,4s;
}
.eje4>article:nth-child(2){
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #800000;
  transition-duration: 1s;
  transition-property: right,border-radius;
  transition-delay: 3s,4s,4s;
}
.eje4:hover{
  width: 250px;
  height: 280px;
  background-color: #87CEFA;
}
.eje4:hover>article:nth-child(1){
  left: 20px;
  border-radius: 50%;
  background-color: yellow;
}
.eje4:hover>article:nth-child(2){
  right: 20px;
  border-radius: 50%;
}
.eje5{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #556B2F;
  width: 170px;
  height: 200px;
  transition-duration: 1s;

}
.eje5>article:nth-child(1){
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0 auto;
  background-color: #DAA520;
  width: 35px;
  height: 35px;
  transition-duration: 1s;
  transition-property: top,right,border-radius;
  transition-delay: 1s,1s,2s;
}
.eje5>article:nth-child(2){
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #DAA520;
  width: 35px;
  height: 35px;
  transition-duration: 1s;
  transition-property:border-radius, background-color;
  transition-delay: 3s,4s;
}
.eje5>article:nth-child(3){
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0 auto;
  background-color: #DAA520;
  width: 35px;
  height: 35px;
  transition-duration: 1s;
  transition-property: bottom,left,border-radius;
  transition-delay: 1s,1s,2s;
}
.eje5:hover>article:nth-child(1){
  top: 20px;
  right: 20px;
  border-radius:50%;
}
.eje5:hover{
  height: 250px;
}
.eje5:hover>article:nth-child(3){
  bottom: 20px;
  left: 20px;
  border-radius:50%;
}
.eje5:hover>article:nth-child(2){
  border-radius: 50%;
  background-color: blue;
}
.eje6{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  width: 200px;
  height: 230px;
  background: #1E90FF;
  transition-duration: 1s;
  transition-property: width,height,border-top,border-right,border-bottom,border-left;
  transition-delay: 0s,0s,1s,2s,3s,4s;
  box-sizing: border-box;
}
.eje6>article:nth-child(1){
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  background-color: #8B4513;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  transition-property: top,left,border-radius;
  transition-delay: 5s,5s,6s;
}
.eje6>article:nth-child(2){
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: #8B4513;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  transition-property: top,right,border-radius;
  transition-delay: 7s,7s,8s;
}
.eje6>article:nth-child(3){
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: #8B4513;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  transition-property: bottom,right,border-radius;
  transition-delay: 11s,11s,12s;
}
.eje6>article:nth-child(4){
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px auto;
  background-color: #8B4513;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  transition-property: bottom,left,border-radius;
  transition-delay: 9s,9s,10s;
}
.eje6>article:nth-child(5){
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #8B4513;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
  transition-property: border-radius,background-color;
  transition-delay: 13s,14s;
}
.eje6:hover{
  width: 250px;
  height: 280px;
  border-top: solid #4B0082 5px;
  border-right: solid red 5px;
  border-bottom: solid orange 5px;
  border-left: solid green 5px;
}
.eje6:hover>article:nth-child(1){
  top: 20px;
  left: 20px;
  border-radius: 50%;
}
.eje6:hover>article:nth-child(2){
  top: 20px;
  right: 20px;
  border-radius: 50%;
}
.eje6:hover>article:nth-child(3){
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}
.eje6:hover>article:nth-child(4){
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
}
.eje6:hover>article:nth-child(5){
  border-radius: 50%;
  background-color: white;
}
